@use "../../assets/styles/variables" as *;

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  background: $color-white;
  box-shadow: 0 4px 8px rgba(0, 1.5, 0, 0.2);
  border-radius: 1rem;
  margin: auto;

  &__title {
    width: 100%;
    color: $color-white;
    font-family: $font-text;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-lavender;
    text-transform: uppercase;
    padding: 1rem 0rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    box-shadow: inset 0px 1px 1px fadeout($color-white, 95%);
    font-weight: 200;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
  }

  &__input {
    width: 83%;
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.3rem 0rem;
    border: 1px solid $color-grey;
    color: $color-secondary;
    border-radius: 1rem;
    padding-left: 0.7rem;
    padding-right: 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &__option {
    width: 90%;
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }

  &__label {
    font-size: 0.85rem;
    font-family: $font-body;
    padding: 0rem 1rem;
    align-self: center;
  }

  &__button {
    width: 35%;
    margin-top: 1em;
    grid-column: 1/-1;
    padding: 1rem 1rem;
    display: flex;
    justify-self: center;
    justify-content: center;
    border-radius: 1.2rem;
    color: $color-white;
    font-family: $font-text;
    background-color: $color-lavender;
    border: none;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 1.5, 0, 0.2);

    &:hover {
      background-color: $color-pink;
    }
  }
}