@use "src/assets/styles/variables" as *;

.book-card {
    display: flex;
    flex-direction: column;
    max-width: 15rem;
    padding: 1rem 1rem;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 1.5, 0, 0.2);
    border-radius: 1.5rem;
    overflow: hidden;
    background: $color-white;
    align-items: center;
    margin: 1rem 0rem;

    &__image {
        width: 35%;
        height: auto;
        object-fit: cover;
        border-radius: 1rem;
        margin-bottom: 0.3rem;
    }

    &__info {
        padding: 0.2rem;
        text-align: center;
    }

    &__author {
        font-size: 0.8rem;
        color: $color-grey;
        font-style: italic;
        margin-bottom: 0.3rem;
        font-family: $font-text;
    }

    &__title {
        font-size: 0.9rem;
        font-family: $font-text;
    }

    &__description {
        font-size: 0.8rem;
        text-align: justify;
    }

    &:hover {
        cursor: pointer;
    }
}

@media (min-width: $breakpoint-laptop) {
    .book-card {
        max-width: 12rem;
    }
}

@media (min-width: $breakpoint-large-desktop) {
    .book-card {
       max-width: 12rem;
    }
}